html {color:#444444;font:93.8% Georgia,Times,"Times New Roman",serif;background-color:#F7F7F7;}
.clr {clear:both;height:0;}
a {color:#637A6E;text-decoration:none;}
a:hover {text-decoration:underline;}

#header {width:960px;margin:0 auto;background:url('/images/border-double.png') repeat-x scroll left bottom transparent;padding-bottom:15px;}
#meat {width:940px;margin:0 auto;background-color:#fff;padding:10px;}
#top-bar {background-color:#000;height:50px;overflow:hidden;color:#777;}
#top-bar a {color:#777;}

textarea, input[type="text"], input[type="password"] {-webkit-border-radius:4px;-moz-border-radius:4px;-moz-box-shadow:0 1px #eee;-webkit-box-shadow:0 1px #eee;border:1px solid #CCC;color:#222;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {-moz-box-shadow:0 0 8px rgba(99, 122, 110, 0.5);-webkit-box-shadow:0 0 8px rgba(99, 122, 110, 0.5);border-color:rgba(99, 122, 110, 0.9);}
textarea:hover, input[type="text"]:hover, input[type="password"]:hover {border-color:#999;}

.placeholder {color:#aaa !important;}

input[type="submit"], input[type="button"], .button {background:#c63929;background:-moz-linear-gradient(top,#ee432e 0%,#c63929 50%,#b51700 50%,#891100 100%);background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#ee432e),color-stop(0.5,#c63929),color-stop(0.5,#b51700),color-stop(1,#891100));border:1px solid #951100;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,115,100,0.4), 0 1px 3px #333;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,115,100,0.4), 0 1px 3px #333;box-shadow:inset 0px 0px 0px 1px rgba(255,115,100,0.4), 0 1px 3px #333;color:#fff;font-size:18px;font-weight:normal;line-height:1;padding:5px 12px 7px;text-align:center;text-shadow:0px -1px 1px rgba(0,0,0,.8);}
input[type="submit"]:hover, input[type="button"]:hover, .button:hover {background:#cb0500;background:-moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));cursor:pointer;text-decoration:none;}
input[type="submit"]:active, input[type="button"]:active, .button:active {background:#b30300;background: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);}

.notice, .error {margin:7px 0;padding:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-font-smoothing:antialiased;}
.notice {background:#DCF7DD;border-color:#D1EAD2 #BBD2BC #BBD2BC;border-right:1px solid #BBD2BC;border-style:solid;border-width:1px;color:#444;}
.error {color:#fff;font-weight:bold;background:#a00;}

ul#menu-calendar {margin-top:10px;}
ul#menu-calendar li {float:left;}
ul#menu-calendar li a {display:block;width:50px;border-left:1px dotted #637a6e;color:#637a6e;text-align:center;width:72px;font-size:10px;text-decoration:none;}
ul#menu-calendar li a.active {color:#9e1517;}
ul#menu-calendar li a b, ul#menu-calendar li a em {display:block;opacity:.4;margin-bottom:5px;color:#637a6e;}
ul#menu-calendar li a:hover b, ul#menu-calendar li a:hover em {opacity:1;}
ul#menu-calendar li a b {display:block;font-size:32px;}
ul#menu-calendar li a em {}

h1 {font-size:1.6em;color:#62796D;margin-bottom:10px;font-weight:normal;}
h1 span {color:#A51618;}

form#login input[type="text"], form#login input[type="password"] {display:block;font-size:22px;padding:4px 10px;width:378px;margin:10px 0;}
form#login #user_session_email {}
form#login #user_session_password {}
form#login #user_session_submit {}

form.menu .menu-item {border-bottom:1px dotted #aaa;padding:5px 0;margin:5px 0;}
form.menu input[type='text'] {border:none;border-bottom:1px solid #000;margin-right:10px;background-color:#F6F6F6;color:#333;}
form.menu input[type='submit'] {display:block;margin:25px 0 15px;}
form.menu input.name {width:400px;}
form.menu input.price {width:50px;text-align:center;}
form.menu input.weight {width:110px;text-align:center;}
form.menu input.description {width:255px;}
form.menu #bulk_menu_creation {position:relative;padding:15px 0;}
form.menu #bulk_menu_creation textarea {height:300px;width:928px;padding:5px;}
form.menu #bulk_menu_creation input[type="button"] {position:absolute;right:8px;bottom:25px;}
form.menu #menu-item-for-cloning {display:none;}

ul.order {}
ul.order li {color:#888;font-size:17px;font-style:italic;line-height:130%;margin:5px 0;}
ul.order li.selected {color:#333;}
ul.order li.selected span.price, ul.order li.total span {color:#A51618;}
ul.order li span.quantity {display:none;}
ul.order li span.quantity input[type="text"] {width:20px;font-size:14px;text-align:center;}
ul.order li.selected span.quantity {display:inline;}
ul.order li.total {border-top:1px dashed;margin:15px 0;padding-top:15px;}
ul.order li.admin-links {border-top:1px dashed;margin-top:20px;padding-top:30px;}
ul.order li.admin-links a {margin-right:15px;}

form#invitation {}
form#invitation input[type="text"], form#invitation input[type="submit"] {display:block;margin:15px 0;}
form#invitation input[type="text"] {font-size:22px;margin-right:10px;padding:4px 5px;vertical-align:bottom;}

form#registration {}
form#registration input[type="text"], form#registration input[type="password"] {display:block;margin:15px 0;font-size:22px;padding:4px 5px;}
form#registration input[type="submit"] {display:block;margin:15px 0;}

