html {color:#444444;font:12px Georgia,Times,"Times New Roman",serif;background-color:#F7F7F7;}
.clr {clear:both;height:0;}
a {color:#637A6E;text-decoration:none;}
a:hover {text-decoration:underline;}

#beta {float:left;color:#4183C4;line-height:28px;margin-left:10px;cursor:default;}

#header {width:1000px;margin:0 auto;background:url('/images/border-double.png') repeat-x scroll left bottom transparent;padding-bottom:15px;}
#meat {width:980px;margin:0 auto;background-color:#fff;padding:10px;}
#top-bar {background-color:#000;height:28px;overflow:hidden;color:#777;}
#top-bar #user-nav {float:right;margin-right:15px;}
#top-bar #user-nav li {display:inline;}
#top-bar #user-nav li.separator {margin:0 10px;cursor:default;}
#top-bar #user-nav a {color:#999;line-height:24px;}

textarea, input[type="text"], input[type="password"] {font-size:22px;padding:4px 5px;margin:15px 0;-webkit-border-radius:4px;-moz-border-radius:4px;-moz-box-shadow:0 1px #eee;-webkit-box-shadow:0 1px #eee;border:1px solid #CCC;color:#222;}
textarea {resize:none;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {-moz-box-shadow:0 0 8px rgba(99, 122, 110, 0.5);-webkit-box-shadow:0 0 8px rgba(99, 122, 110, 0.5);border-color:rgba(99, 122, 110, 0.9);}
textarea:hover, input[type="text"]:hover, input[type="password"]:hover {border-color:#999;}
.field-with-error input {background-color:#f3d8d8;border-color:#cc0000;}

.placeholder {color:#aaa !important;}

input[type="submit"], input[type="button"], .button {background:#c63929;background:-moz-linear-gradient(top,#ee432e 0%,#c63929 50%,#b51700 50%,#891100 100%);background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#ee432e),color-stop(0.5,#c63929),color-stop(0.5,#b51700),color-stop(1,#891100));border:1px solid #951100;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,115,100,0.4), 0 1px 3px #333;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,115,100,0.4), 0 1px 3px #333;box-shadow:inset 0px 0px 0px 1px rgba(255,115,100,0.4), 0 1px 3px #333;color:#fff;font-size:18px;font-weight:normal;line-height:1;padding:5px 12px 7px;text-align:center;text-shadow:0px -1px 1px rgba(0,0,0,.8);}
input[type="submit"]:hover, input[type="button"]:hover, .button:hover {background:#cb0500;background:-moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));cursor:pointer;text-decoration:none;}
input[type="submit"]:active, input[type="button"]:active, .button:active {background:#b30300;background: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);}
a.button {display:inline-block;}

.notice, .error {margin:7px 0;padding:10px;border:1px solid;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;font-weight:normal;line-height:100%;font-size:12px;text-decoration:none;font-style:normal;}
.notice {border-color:#fcd3a1;background:#fbf8ee url(/images/jquery-ui/ui-bg_glass_55_fbf8ee_1x400.png) 50% 50% repeat-x;color:#444444;}
.error {border-color:#cc0000;background:#f3d8d8 url(/images/jquery-ui/ui-bg_diagonals-thick_75_f3d8d8_40x40.png) 50% 50% repeat;color:#2e2e2e;}

hr {display:block;border:none;height:0;width:100%;border-top:1px dashed #888;margin:20px 0;}

ul#menu-calendar {margin-top:10px;}
ul#menu-calendar li {float:left;color:#637a6e;position:relative;}
ul#menu-calendar li a, ul#menu-calendar li p {display:block;width:50px;border-left:1px dotted #637a6e;text-align:center;width:75px;font-size:16px;text-decoration:none;}
ul#menu-calendar li.active, ul#menu-calendar li.active a {color:#9e1517;}
ul#menu-calendar li a b, ul#menu-calendar li a em, ul#menu-calendar li p b, ul#menu-calendar li p em {display:block;opacity:.4;margin-bottom:5px;color:#637a6e;}
ul#menu-calendar li a:hover b, ul#menu-calendar li a:hover em {opacity:1;}
/* ul#menu-calendar li.today b, ul#menu-calendar li.today em  {opacity:.85;} */
ul#menu-calendar li.today b {color:#9E1517;}
ul#menu-calendar li a b, ul#menu-calendar li p b {display:block;font-size:22px;}
ul#menu-calendar li p {cursor:default;}
ul#menu-calendar li a em, ul#menu-calendar li p em {font-size:10px;}
ul#menu-calendar li span.icon {display:none;position:absolute;width:16px;height:16px;background-image:url(/images/jquery-ui/ui-icons_cc0000_256x240.png);}
ul#menu-calendar li.published span.icon, ul#menu-calendar li.locked span.icon {top:-5px;right:2px;}
ul#menu-calendar li.published span.icon.m1 {display:block;background-position:-64px -144px;}
ul#menu-calendar li.locked span.icon.m1 {display:block;background-position:-80px -144px;}
ul#menu-calendar li.ordered span.icon.m2 {display:block;background-position:-48px -112px;left:2px;top:-5px;}


h1 {font-size:1.6em;color:#62796D;margin-bottom:10px;font-weight:normal;}
h1 span {color:#A51618;}
h2 {font-size:1.4em;color:#62796D;margin-bottom:10px;font-weight:normal;}

#left-static-bar {position:absolute;left:0;top:200px;}
#left-static-bar a {}
#left-static-bar a.feedback {background:transparent url(/images/feedback_badge.png) no-repeat right top;display:block;width:33px;height:124px;overflow:hidden;opacity:.15;}
#left-static-bar a.feedback:hover {opacity:.6;}

form#login input[type="text"], form#login input[type="password"] {display:block;width:378px;}
form#login #user_session_email {}
form#login #user_session_password {}
form#login #user_session_submit {margin-top:15px;}
a.forgot-password {margin-left:10px;}

form.menu .menu-item {border-bottom:1px dotted #aaa;padding:5px 0;margin:5px 0;}
form.menu textarea {font-size:12px;margin:0;}
form.menu input[type='text'] {padding:2px 4px;margin:0 1px;font-size:12px;}
form.menu input[type='submit'] {display:block;margin:25px 0 15px;}
form.menu input.grade {width:15px;text-align:center;}
form.menu input.name {width:250px;}
form.menu input.price {width:35px;text-align:center;}
form.menu input.weight {width:70px;text-align:center;}
form.menu input.description {width:180px;}
form.menu #bulk_menu_creation {position:relative;padding:15px 0;}
form.menu #bulk_menu_creation textarea {height:100px;width:968px;padding:5px;}
form.menu #bulk_menu_creation input[type="button"] {position:absolute;right:8px;bottom:25px;}
form.menu #menu-item-for-cloning {display:none;}
form.menu .menu-item a.remove {display:inline-block;}

ul.order li {color:#888;font-size:17px;font-style:italic;line-height:130%;padding:2px 0;}
ul.order li.selected {color:#333;}
ul.order li.selected span.price, ul.order li.total span {color:#A51618;}
ul.order li span.quantity {display:none;}
ul.order li span.quantity input[type="text"] {width:20px;font-size:14px;text-align:center;padding:0;margin:0;}
ul.order li.selected span.quantity {display:inline;}
ul.order li.total {border-top:1px dashed;margin:15px 0;padding-top:15px;}
ul.order li.admin-links {border-top:1px dashed;margin-top:20px;padding-top:20px;font-style:normal;}
ul.order li span.tag {background-color:#EBE8DD;margin:0 5px;padding:3px 5px;font-style:normal;font-weight:normal;font-size:12px;cursor:default;-moz-border-radius:4px;-webkit-border-radius:4px;}

form#invitation input[type="text"], form#invitation input[type="submit"] {display:block;}

form#registration input[type="text"], form#registration input[type="password"] {display:block;}
form#registration input[type="submit"] {display:block;}

form#tags input[type="text"] {display:block;}
form#tags input[type="submit"] {display:block;margin:15px 0;}

form#transaction input[type="text"], form#transaction textarea {display:block;width:300px;}
form#transaction textarea {height:150px;}
form#transaction input[type="submit"] {display:block;}

ul#tag-list li a.inactive {opacity:.6}
ul#tag-list li a {text-decoration:none;}
ul#tag-list li {color:#888;font-size:17px;font-style:italic;line-height:130%;margin:5px 0;}
ul#tag-list li span.price {color:#A51618;}
ul#tag-list li span.description{opacity:.3;}
ul#tag-list li a:hover span.description{opacity:.65;}
ul#tag-list li.links {border-top:1px dashed;margin-top:20px;padding-top:20px;}

table.defaults th, table.defaults td {border:1px solid #aaa;padding:5px 7px;}
table.defaults tr.red {background-color:#f3d8d8;}

table.orders {margin-bottom:20px;}
table.orders td.price {white-space:nowrap;}
table.orders tfoot td {border:none;font-size:14px;}
table.orders tfoot td.total-text {text-align:right;}
table.orders tfoot td.price {font-weight:bold;}

a.destroy-order {float:right;}

form.feedback textarea {width:650px;height:150px;}

li.admin-links a.block-menu {float:right;}

