%h1 Регистрация

= form_for @user, :url => do_registration_path, :html => { :id => 'registration' } do |f|
  = render_errors_for @user
  = render :partial => "fields", :locals => { :f => f }
  = f.submit 'Зарегистрироваться'

