%h1 Новое приглашение

= form_for @invitation, :html => { :id => 'invitation' } do |f|
  = render_errors_for @invitation
  = f.text_field :recipient_email, :placeholder => 'e-Mail получателя'
  = f.submit 'Выслать приглашение'

