== Здравсвуйте, #{@user.screen_name}

Был сделан запрос на изменение Вашего пароля. Если Вы не делали этот запрос, просто проигнорируйте это письмо.

Для того чтобы изменить Ваш пароль, перейдите по ссылке:
= edit_password_reset_url(@user.perishable_token)

