%h1 Список пользователей
%table.defaults
  %thead
    %tr
      %th Имя
      %th e-Mail
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user, [:admin, user]
        %td= user.email
%hr
= link_to 'Пригласить пользователя', new_invitation_path, :class => 'button'

